body {
    background: rgb(168, 168, 168);
}
header {
    color: rgb(255, 255, 255);
    text-align: center;
}

section {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.363);
}

section div {
 text-align: center;
}

section div input#txtn {
    color: rgb(0, 0, 0);
    border-radius:10px ;
    border: none;
    padding: 3px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.363);
}

input.cod {
    background-color: black;
    color: rgb(255, 255, 255);
    border-radius:10px ;
    border: none;
    padding: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.363);
}

section div.On {
    display: flex;
    justify-content: center;
    padding: 10px;
}

select#seltab {
    border: none;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.363);

}



footer {
    text-align: center;
    color: rgb(255, 255, 255);
    font-style: italic;
    padding: 10px;
}
