
body {
    background-color: rgb(37, 117, 167);
    justify-items: center;
}

header {
    text-align: center;
    padding: 10px;
    font-size: 19px;
    color: white;
}

section {
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    width: 500px;

}

section > button {
    margin: 20px;
}

div#resultados {
    padding-top: 15px;
    text-align: left;
}