body {
    background-color: rgb(43, 115, 179);
    display: flex;
    justify-content: center;
    flex-flow: column;
}

header {
    font-size: 20px;
    color: white;
    text-align: center;
}


section {
    display: flex;
    flex-flow: column;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    background-color: white;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
}

section > div > p > input.inp {
    border-radius: 10px;
    text-align: center;
}

div.ano, p {
    padding: 10px;
}

div.ano, p > input.butao {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 1px solid black;
    padding: 7px;
    transition: 0.8s;
}

div.ano, p > input.butao:hover {
    background-color: white;
    color: black;
    transition: 0.8s;
}


div > img {
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

div#res {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}



footer {
    color: white;
    text-align: center;
    font-style: italic;
}

