body {
    background-color: rgb(43, 115, 179);
    display: flex;
    justify-content: center;
    flex-flow: column;
}

header {
    font-size: 20px;
    color: white;
    text-align: center;
}


section {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 25px;
    margin: auto;
    background-color: white;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
}


footer {
    color: white;
    text-align: center;
    font-style: italic;
}

